

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


body {
    /* margin-bottom: 130px; Margin bottom by footer height */
}

:root {
    --intro-element-size: 45vmin;
    --bar-height: clamp(70px,15vh,101px);
}

a {
    color: rgb(162, 194, 187) !important;
    text-decoration: none !important;
}

a:hover {
    color: rgb(146, 43, 84) !important;
    transition: color 0.3s;
}

#intro {
height: 100vh;
width: 100%;
position: relative;

background-image: url(intro_back.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.intro-img {
    height: var(--intro-element-size);
    width: var(--intro-element-size);

    display: block;
    margin: auto;
}

.intro-name {
    text-align: center;
    vertical-align: middle;

    font-family: 'Unica One', cursive;
    font-size: 11vmin;
    text-shadow: 3px 0px rgb(146, 43, 84);

    height: var(--intro-element-size);
    padding: 70px 0;
    
}

#projects {
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

    width: 100%;
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 150px;
    padding-inline: 12%;

    background-color: rgb(25, 26, 25);
    color: lightgray;
}

.bar-topspace {
    padding-top: calc(var(--bar-height) * 1.25) !important;
}

.bar {
    /* margin-top: -100px; */
    margin-top: calc(var(--bar-height) * -1);

    width: 100%;
    height: var(--bar-height);
    line-height: var(--bar-height); /* Vertical center */

    font-size: min(2em, 5.5vw);
    color: lightgray;

    background-image: linear-gradient(0deg, rgba(255,255,255,0) 30%, rgba(15, 29, 24, 0.562) 70%, rgba(0, 22, 17, 0.664) 100%), url(intro_back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bar .container {
    max-width: 600px;
    width: 75%;
}
